src/main/mule/testdb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9a0d73da-8dc6-4149-9608-743deee84754" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f4bcbfdc-eb69-46b7-a008-409412bf341c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="RootGhana" database="training" />
	</db:config>
	<flow name="testdbFlow" doc:id="a4104762-b6f5-443c-b2e5-1b513ac613a6" >
		<http:listener doc:name="Listener" doc:id="78ef89eb-e8c1-4470-8e7e-77f95a818655" config-ref="HTTP_Listener_config" path="/testdb"/>
		<set-variable value="#[attributes.uriParams.country]" doc:name="Set Variable" doc:id="7ed8cb1e-be81-4618-b3a2-9f89026733d3" variableName="city"/>
		<db:select doc:name="Select" doc:id="075c361e-6e6c-4780-bf84-23c540787bfc" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from account where country=:country;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	country :vars.country
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e5dc95f1-bb4f-4942-9c45-d9330d54fe83" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
